@page
@model ConfirmEmailInfoModel
@{
    ViewData["Title"] = "Verify Email";
}

<h1>@ViewData["Title"]</h1>
<div>
    <p>
        Before you start exploring Funcionality Matrix pages, please confirm you eamil address.
        Don't forget to check you spam folder!
    </p>
    <a asp-page="./Login" class="btn btn-outline-primary">Go to login page</a>
</div>