@page "{productId:int}"
@model FunctionalityMatrixApp.Pages.Products.DeleteModel
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Delete</h2>
<div>
    Do you really want to delete?
    <form method="post" class="btn">
        <button class="btn btn-danger">Yes</button>
    </form>
    <a class="btn btn-success" asp-page="./List">No</a>
</div>

