@page "{productId:int}"
@model FunctionalityMatrixApp.Pages.Products.DetailsModel
@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>
<div class="card">
    <partial name="_PicturesCarousel" model="Model" />
    <div class="card-body">
        <h5 class="card-title">@Model.Product.Name</h5>
        <p class="card-text">@Model.Product.Content</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>

