@page "{productId:int?}"
@model FunctionalityMatrixApp.Pages.Products.EditModel
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Edit</h1>
<form method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="Product.Id" />
    <div class="form-group">
        <label asp-for="Product.Name"></label>
        <input class="form-control" asp-for="Product.Name" />
        <span class="text-danger" asp-validation-for="Product.Name"></span>
    </div>
    <div class="form-group">
        <label asp-for="Product.Producer"></label>
        <input class="form-control" asp-for="Product.Producer" />
        <span class="text-danger" asp-validation-for="Product.Producer"></span>
    </div>
    <div class="form-group">
        <label asp-for="Product.ProductType"></label>
        <select class="form-control" asp-for="Product.ProductType" asp-items="@Model.ProductTypes"></select>
        <span class="text-danger" asp-validation-for="Product.ProductType"></span>
    </div>
    <div class="form-group">
        <label asp-for="SelectedParentId"></label>
        <select class="form-control" asp-for="SelectedParentId" asp-items="@Model.AvailableParents">
            <option selected>- No parent -</option>
        </select>
        <span class="text-danger" asp-validation-for="SelectedParentId"></span>
    </div>
    <div class="form-group">
        <div>
            The industry in which it occurs:
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" asp-for="Product.InFurniture">
            <label class="form-check-label" asp-for="Product.InFurniture">Furnitures</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" asp-for="Product.InAutomotive">
            <label class="form-check-label" asp-for="Product.InAutomotive">Automotive</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" asp-for="Product.InFashion">
            <label class="form-check-label" asp-for="Product.InFashion">Fashion</label>
        </div>
    </div>
    <div class="form-group">
        <div>
            Product status:
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" asp-for="Product.IsInDevelopment">
            <label class="form-check-label" asp-for="Product.IsInDevelopment">In development</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" asp-for="Product.IsInOffer">
            <label class="form-check-label" asp-for="Product.IsInOffer">In offer</label>
        </div>
    </div>
    <div class="form-group">
        <div>
            Pictures of the product
        </div>
        <div class="custom-file">
            <input type="file" class="custom-file-input" asp-for="PicturesUpload" multiple accept="image/*">
            <label class="custom-file-label" asp-for="PicturesUpload">Choose file</label>
            <span class="text-danger" asp-validation-for="PicturesUpload"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Product.Content"></label>
        <textarea class="form-control" asp-for="Product.Content" rows="5"></textarea>
        <span class="text-danger" asp-validation-for="Product.Content"></span>
    </div>
    <div class="form-group">
        <div>
            Additional attachments:
        </div>
        <div class="custom-file">
            <input type="file" class="custom-file-input" asp-for="AttachmentsUpload" multiple accept="application/msword, application/vnd.ms-excel, application/vnd.ms-powerpoint,
                text/plain, application/pdf, image/*, video/*">
            <label class="custom-file-label" asp-for="AttachmentsUpload">Choose file</label>
            <span class="text-danger" asp-validation-for="AttachmentsUpload"></span>
        </div>
    </div>
    <button class="btn btn-outline-info">Save changes</button>
</form>


@section Scripts {
    <environment include="Development">
        <script src="~/node_modules/bs-custom-file-input/dist/bs-custom-file-input.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script>
    </environment>

    <script>
        $(document).ready(function () {
            bsCustomFileInput.init()
        })
    </script>
}

