@page
@model FunctionalityMatrixApp.Pages.Products.ListModel
@{
    ViewData["Title"] = "List";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>List</h1>

<div class="row">
    @foreach (var product in Model.WrappedProducts)
    {
        <partial name="_ListItem" model="product" />
    }
</div>

<a class="btn btn-outline-info" asp-page="./Edit">Add new product</a>
