@page
@model FunctionalityMatrixApp.Pages.AdminPanel.IndexModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h3>Administrator Panel</h3>
<nav class="nav flex-column">
    <a class="nav-link" asp-page="/AdminPanel/UsersList">Edit users accounts</a>
</nav>

