@page "{userId}"
@model FunctionalityMatrixApp.Pages.AdminPanel.UserModel
@{
    ViewData["Title"] = "User";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h3>User</h3>
@* Main informations (id, name, producer) *@
<input type="hidden" asp-for="SelectedUser.Id" />
<div class="form-group">
    <label asp-for="SelectedUser.UserName"></label>
    <input class="form-control" asp-for="SelectedUser.UserName" disabled/>
</div>

@* Boolean information *@
<form method="post">
    <div class="form-group">
        <div>
            Authorization roles:
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" asp-for="IsObserver">
            <label class="form-check-label" asp-for="IsObserver">Observer role</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" asp-for="IsEditor">
            <label class="form-check-label" asp-for="IsEditor">Editor role</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" asp-for="IsAdmin">
            <label class="form-check-label" asp-for="IsAdmin">Administrator role</label>
        </div>
    </div>
    <button class="btn btn-outline-info">Save changes</button>
</form>

