@page "{userId}"
@model FunctionalityMatrixApp.Pages.AdminPanel.UserVerifyModel
@{
    ViewData["Title"] = "UserVerify";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Verify user email</h2>
<div>
    Do you really want to verify @Model.UserToVerify.UserName account?
    <form method="post" class="btn">
        <button class="btn btn-danger">Yes</button>
    </form>
    <a class="btn btn-success" asp-page="./UsersList">No</a>
</div>